<mgl-marker
  *ngIf="fromMap && currentState?.name == 'selectedArticle'"
  [lngLat]="[
    currentState.data['coordinates'][0],
    currentState.data['coordinates'][1]
  ]"
>
  <div class="article-box" (click)="$event.stopPropagation()">
    <div class="article-box-heading">
      <div>
        <img
          *ngIf="currentState.data?.posted_by?.profile_img"
          class="user"
          [src]="currentState.data?.posted_by?.profile_img"
        />
        <div>{{ currentState.data.title }}</div>
      </div>
      <div
        class="hover"
        (click)="
          service.resolveState('articleDetails', currentState.data);
          $event.stopPropagation()
        "
      >
        <img class="icon" src="./assets/images/right-arrow.svg" alt="" />
      </div>
    </div>
    <div>
      <img
        *ngIf="!!currentState.data?.images?.length"
        [src]="currentState.data?.images?.[0]"
      />
    </div>
    <app-tags
      [tags]="currentState.data.tags"
      [currentState]="currentState"
    ></app-tags>
  </div>
</mgl-marker>

<div
  [@slideUp]
  *ngIf="currentState?.name == 'selectedArticle'"
  class="article-box-mobile"
  (click)="$event.stopPropagation()"
>
  <div class="article-box-heading">
    <div>
      <img
        *ngIf="currentState.data?.posted_by?.profile_img"
        class="user"
        [src]="currentState.data?.posted_by?.profile_img"
      />
      <div>{{ currentState.data.title }}</div>
    </div>
    <div
      class="hover"
      (click)="
        service.resolveState('articleDetails', currentState.data);
        $event.stopPropagation()
      "
    >
      <img class="icon" src="./assets/images/right-arrow.svg" alt="" />
    </div>
  </div>
  <div>
    <img
      [src]="currentState.data?.images?.[0] ?? 'https://placehold.co/250x100'"
    />
  </div>
  <app-tags
    [tags]="currentState.data.tags"
    [currentState]="currentState"
  ></app-tags>
</div>
