@use "mixins" as *;

.article-box,
.article-box-mobile {
  background-color: white;
  position: absolute;
  display: block;
  padding: 12px 24px;
  border-radius: 8px;
  z-index: 9999 !important;

  &.article-box {
    width: 300px;
    left: 20px;
    top: -30px;

    @include screen-small {
      display: none;
    }
  }

  &.article-box-mobile {
    inset: auto 0 0 0;
    display: none;

    > :nth-child(2) {
      img {
        max-height: 320px;
      }
    }

    @include screen-small {
      display: block;
    }
  }

  > .article-box-heading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    > :first-child {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
      }

      div {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  > :nth-child(2) {
    max-height: 180px;
    height: auto;
    overflow: hidden;
    background-color: black;
    display: flex;

    > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  > *:not(:last-child) {
    margin-bottom: 16px;
  }

  .hover {
    display: flex;

    img {
      margin: auto;
      width: auto;
      height: 25px;
    }
  }
}
