<mgl-marker 
  *ngIf="currentState?.name == 'selectedArticle'"
  [lngLat]="[currentState.data['coordinates'][0], currentState.data['coordinates'][1]]"
>
  <div class="article-box" (click)="$event.stopPropagation()">
    <div class="article-box-heading">
      <div>{{ currentState.data.title }}</div>
      <div class="button" (click)="service.openArticleDetails(currentState.data); $event.stopPropagation()">
        <img class="icon" src="../../../assets/images/right-arrow.svg" alt="">
      </div>
    </div>
    <img [src]="'https://placehold.co/250x100'" />
    <app-tags [tags]="currentState.data.tags" [currentState]="currentState"></app-tags>
  </div>
</mgl-marker>
