<section
  *ngIf="!!currentCoordinates.longitude && !!currentCoordinates.latitude"
>
  <mgl-map
    #map
    [style]="
      'https://api.maptiler.com/maps/bright-v2/style.json?key=Vf3Ucwo3a2GSlz4MWlz4'
    "
    [zoom]="[currentCoordinates['zoom']]"
    [center]="[currentCoordinates['longitude'], currentCoordinates['latitude']]"
    (mapMouseUp)="sendMouseCoordinates($event)"
    (click)="
      ['addArticleLocation'].includes(state?.name) ||
      ['addArticleLocation'].includes(prevState?.name)
        ? $event.stopPropagation()
        : null
    "
    [class.locationSelection]="['addArticleLocation'].includes(state?.name)"
  >
    <app-mark
      *ngFor="let article of articles | async"
      [mark]="article"
      [type]="article.category"
    ></app-mark>
    <app-article-box></app-article-box>
    <app-mark
      [@locationDrop]
      [type]="'post-location'"
      *ngIf="
        ['addArticleLocation', 'addArticle'].includes(state?.name) &&
        formService?.formRef?.get('location')?.value?.coordinates?.length
      "
      [mark]="{
        location: {
          coordinates: formService.formRef.get('location')?.value?.coordinates
        }
      }"
    ></app-mark>
    <app-mark
      [type]="'self'"
      [mark]="{
        location: {
          coordinates: [
            currentCoordinates['longitude'],
            currentCoordinates['latitude']
          ]
        }
      }"
    ></app-mark>
  </mgl-map>
</section>
