version: "3.0"
services:
  app:
    image: mapnews-backend:latest
    ports:
      - 8000:8000
    environment:
      - SERVICE_PORTS=8000
      - MONGODB_CLUSTER_URI=${MONGODB_CLUSTER_URI}
      - IMAGEKIT_PUBLIC_KEY=${IMAGEKIT_PUBLIC_KEY}
      - IMAGEKIT_PRIVATE_KEY=${IMAGEKIT_PRIVATE_KEY}
      - IMAGEKIT_URL_ENDPOINT=${IMAGEKIT_URL_ENDPOINT}
      - SECRET_JWT_CODE=${SECRET_JWT_CODE}
      - REDIS_URL=${REDIS_URL}
    deploy:
      replicas: 5
      update_config:
        parallelism: 5
        delay: 10s
      restart_policy:
        condition: on-failure
        max_attempts: 3
        window: 120s
    networks:
      - web
  notification-service:
    image: mapnews-notification:latest
    environment:
      MONGODB_CLUSTER_URI: ${MONGODB_CLUSTER_URI}
      REDIS_URL: ${REDIS_URL}
  proxy:
    image: dockercloud/haproxy
    depends_on:
      - app
    environment:
      - BALANCE=leastconn
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 80:80
    networks:
      - web
    deploy:
      placement:
        constraints: [node.role == manager]
networks:
  web:
    driver: overlay
