<section>
  <div>
    <h2>MapNews</h2>
  </div>
  <div>
    <label for="image">
      <input
        (change)="addImage($event)"
        type="file"
        name="image"
        id="image"
        style="display: none"
      />
      <div>
        <img [src]="previewImg ?? './../../../assets/images/profile.png'" alt="" />
      </div>
      <div>Add Profile Photo</div>
    </label>
  </div>
  <div>
    <form [formGroup]="form">
      <input formControlName="email" type="text" placeholder="Email" />
      <input formControlName="password" type="password" placeholder="Password" />
      <input
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm Password"
      />
    </form>
  </div>
  <div>
    <div (click)="submit()" class="button blue-btn">Register</div>
    <div [routerLink]="'/auth/login'">Have an existing account? Login here!</div>
  </div>
</section>
