<section (click)="$event.stopPropagation()">
  <div class="heading">
    <div>
      <div *ngIf="authenticated; else access" class="button blue-btn" (click)="addArticle()">
        Add Post
      </div>
      <ng-template #access>
        <div class="button blue-btn" [routerLink]="'/auth/login'">
          Login/Sign up
        </div>
      </ng-template>
    </div>
    <div>
      <div *ngFor="let item of menu" class="button" (click)="selected = item" [class.selected]="item == selected">
        <div>{{ item }}</div>
        <div></div>
      </div> 
    </div>
    <div>
      <div>
        <img class="" src="https://placehold.co/46x46" alt="">
      </div>
      <div>
        <img class="" src="https://placehold.co/46x46" alt="">
      </div>
      <div>
        <img class="" src="https://placehold.co/46x46" alt="">
      </div>
    </div>
  </div>
</section>
