<section (click)="$event.stopPropagation()">
  <div class="heading">
    <div>
      <div [@slideInFromLeft] *ngIf="authenticated; else access" class="button blue-btn" (click)="addArticle()">
        Add Post
      </div> 
      <ng-template #access>
        <div [@slideInFromLeft] class="button blue-btn" [routerLink]="'/auth/login'">
          Login/Sign up
        </div>
      </ng-template>
    </div>
    <div>
      <div (click)="resolveMenuOption(item)"  *ngFor="let item of menu.slice(0, authenticated ? menu.length : 2)" class="button" (click)="selected = item" [class.selected]="item == selected">
        <div>{{ item }}</div>
        <div></div>
      </div> 
    </div>
    <div>
      <div (click)="searchArticle()">
        <img class="icon" src="./../../../assets/images/search.png" alt="">
      </div>
      <div *ngIf="authenticated">
        <img class="icon" src="./../../../assets/images/notification.png" alt="">
      </div>
      <div *ngIf="authenticated" (click)="logout()">
        <img class="icon" src="./../../../assets/images/logout.png" alt="">
      </div>
    </div>
  </div>
</section>
