section {
  position: relative;
}

.heading {
  margin: 0;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  inset: 0 0 auto 0;
  height: 64px;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;

    &:first-child > div {
      margin-left: 14px;
      padding: 8px 18px;
    }

    &:nth-child(2) > div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      gap: 8px;

      > :first-child {
        font-size: 24px;
        padding: 4px 24px;
        border-radius: 18px;
      }

      > :last-child {
        width: 70%;
        height: 3px;
      }

      &.selected {
        > :first-child {
          background-color: rgba(0, 0, 0, 0.34);
        }

        > :last-child {
          background-color: #1f1f1f;
        }
      }
    }

    &:nth-child(3) > div {
      border-radius: 50%;
      width: 46px;
      height: 46px;
      overflow: hidden;
      margin-right: 8px;
      cursor: pointer;
      display: flex; 

      img {
        margin: auto;
      } 
    }
  }
}
