@use "mixins" as *;

section {
  position: relative;
}

.heading {
  margin: 0;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.349);
  color: white;
  inset: 0 0 auto 0;
  height: 64px;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;

    &:first-child {
      min-width: 200px;

      @include screen-small {
        min-width: unset;
      }

      > div {
        margin-left: 14px;
        padding: 8px 18px;
      }
    }

    &:nth-child(2) > div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      gap: 8px;

      > :first-child {
        font-size: 24px;
        padding: 4px 24px;
        border-radius: 18px;
        white-space: nowrap;
      }

      > :last-child {
        width: 70%;
        height: 3px;
      }

      &.selected {
        > :first-child {
          background-color: rgba(0, 0, 0, 0.34);
        }

        > :last-child {
          background-color: #1f1f1f;
        }
      }
    }

    &:nth-child(3) {
      min-width: 200px;
      justify-content: end;

      @include screen-small {
        min-width: 0;
      }
    }
  }
}

.button:not(.blue-btn) {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  overflow: hidden;
  margin-right: 8px;
  cursor: pointer;
  display: flex;

  img {
    margin: auto;
  }

  &.notification {
    position: relative;
    overflow: visible;

    > .number {
      position: absolute;
      background-color: red;
      color: white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
      inset: auto 0 0 auto;
    }
  }
}

.not-mobile {
  @include screen-small {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @include screen-small {
    display: flex !important;
  }

  &.button {
    padding: 0 0 !important;
    align-items: center;
    justify-content: center;
  }
}

.mobile-menu {
  display: none;

  @include screen-small {
    &.appear {
      position: fixed;
      inset: 64px 0 0 0;
      background-color: rgba(31, 31, 31, 0.541);
      display: flex;
      flex-direction: column;
      padding: 0 0 24px;
    }

    > div {
      margin-bottom: 24px;
    }

    > :first-child {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      > div {
        font-size: 24px;
        padding: 12px 24px;
        color: white;
        display: flex;
        align-items: center;

        > :first-child {
          margin-right: 16px;
        }

        &.selected {
          background-color: rgba(0, 0, 0, 0.26);
        }

        &:active {
          background-color: rgba(99, 98, 98, 0.26);
        }
      }
    }

    > :not(:first-child) {
      padding: 0 12px;
      margin-bottom: 12px;
    }
  }
}
