<section (click)="$event.stopPropagation()">
  <form [formGroup]="form"  *ngIf="['addArticle', 'addArticleLocation'].includes(state?.name) && form">
    <div>
      <h2>Category</h2>
      <select formControlName="category" name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div>
      <h2>Title</h2>
      <div>
        <input formControlName="title"/>
      </div>
    </div>
    <div>
      <h2>Tags</h2>
      <div>
        <input #tags (keyup.enter)="addTag($event)"/>
      </div>
      <div class="tags">
        <div *ngFor="let tag of form.get('tags').value">{{ tag }}</div> 
      </div>
    </div>
    <div>
      <h2>Location</h2>
      <div>
        <input readonly [value]="form.get('location').value.coordinates.toString()"/>
        <div (click)="setLoc('current')">
          <img class="" src="./../../../assets/images/current-loc.png" alt="" />
        </div>
        <div (click)="setLoc()" [class.selected]="locationMouseMode == true">
          <img class="" src="./../../../assets/images/select-loc.png" alt="" />
        </div>
      </div>
    </div>
    <div>
      <h2>Description</h2>
      <div>
        <textarea formControlName="description" maxlength="280"></textarea>
        <div>280/280 remaining</div>
      </div>
    </div>
    <div>
      <h2>Add Images</h2>
      <div>
        <label class="button" for="image">
            <input type="file" name="image" id="image" style="display: none" />
            <div>
                <div>
                  <img
                    class=""
                    src="./../../../assets/images/upload-image.png"
                    alt=""
                  />
                  <div>Drop image here</div>
                </div>
              </div>
          </label>
        <div>
          <app-multi-item-carousel></app-multi-item-carousel>
        </div>
      </div>
    </div>
    <div>
      <div class="button blue-btn">Submit</div>
    </div>
  </form>
</section>
