.access {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
        position: absolute; 
        inset: 20px 20px auto auto;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50px;
            height: 50px;
        }

        &:hover {
            border: 1px solid white;
        }
    } 

    > :first-child {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}