.access {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    position: absolute;
    inset: 20px 20px auto auto;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    img {
      width: 50px;
      height: 50px;
    }

    &:hover {
      border: 1px solid white;
    }
  }

  > :first-child:not(.success) {
    width: 100%;
    height: 100%;

    .router-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  > .success {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;

    > img {
      width: 30%;
    }

    > :nth-child(2) {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      color: white;
    }

    > :last-child {
      background-color: black;
    }
  }
}
