:host {
    width: 100%;
}

form {
  width: 100%;

  > * {
    margin-bottom: 12px;
  }

  select,
  input,
  textarea {
    border-radius: 14px;
    font-size: 18px;
  }

  h2 {
    margin: 0 0 4px;
    font-size: 24px;
    font-weight: normal;
  }

  > :first-child {
    > select {
      width: 100%;
      padding: 3px 14px;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 1em;
    }
  }

  > .title-section,
  > .tag-section,
  > .location-section,
  .description-section {
    .input {
      flex-grow: 1;
      
      input {
        padding: 12px 16px;
        width: 100%;
        border-width: 1px;
      }
    }

    > div {
      width: 100%;
      display: flex;

      &.tags {
        margin-top: 18px;

        > div {
          background-color: #212121;
          color: white;
          padding: 4px 16px;
          margin-right: 16px;
          border-radius: 24px;
        }
      }
    }
  }

  > .location-section > div  > :not(:first-child) {
    border-radius: 50%;
    overflow: hidden;
    margin-left: 8px;
    cursor: pointer;
    background-color: white;
    min-width: 46px;
    height: 46px;
    border: 1px solid transparent;
    display: flex;

    &:hover {
      border: 1px solid black;
    }

    img {
      margin: auto;
      width: 42px;
      height: 42px;
    }
  }

  > .description-section > div {
    flex-direction: column;

    > textarea {
      flex-grow: 1;
      height: 150px;
      padding: 12px 16px;
    }

    > div {
      margin-top: 8px;
      text-align: end;
    }
  }

  > .image-section > div {
    > :first-child > div {
      display: flex;
      border-radius: 14px;
      border: 1px solid black;
      border-style: dashed;
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 8px;

      > label > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      img {
        width: 113px;
      }
    }

    > :last-child {
      margin-top: 16px;
    }
  }
}

.selected {
  border: 1px solid black !important;
}
