@use "mixins" as *;

section {
  &.search {
    width: 424px;
    background-color: #d9d9d9;
    padding: 12px 24px;
    display: flex;
    min-height: 100%;
  }

  &.articleDetails {
    width: 533px;
    background-color: #d9d9d9;
    height: 100%;
    padding: 24px 36px;
  }

  @include screen-small {
    width: 100% !important;
  }

  > div {
    padding: 24px 36px;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
    }

    > * {
      margin-bottom: 16px;
    }

    > div {
      align-items: center;
      justify-content: space-between;

      > div {
        align-items: center;

        > div {
          align-items: center;

          &.category {
            margin-right: 16px;
          }

          > div:first-child {
            margin-right: 12px;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }

    > .tags {
      justify-content: flex-start;
      gap: 8px;
      flex-wrap: wrap;

      > div {
        margin-right: 8px;
        padding: 4px 18px;
        background-color: black;
        color: white;
        font-size: 16px;
        border-radius: 12px;
      }
    }

    > :nth-last-child(2) {
      > app-image-gallery {
        width: 100%;
      }
    }

    > :last-child {
      text-align: left;
    }
  }
}
