@use "mixins" as *;

section {
  width: 424px;
  padding: 12px 24px;
  display: flex;
  min-height: 100%;

  @include screen-small {
    width: 100%;
  }

  mat-spinner {
    margin: auto;
  }

  > div {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    > img {
      width: 30%;
    }

    > div {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }
}
