<section (click)="$event.stopPropagation()">
  <div class="heading">
    <div>
      <div
        [@slideInFromLeft]
        *ngIf="authenticated; else access"
        class="button blue-btn not-mobile"
        (click)="addArticle()"
      >
        Add Post
      </div>
      <ng-template #access>
        <div
          [@slideInFromLeft]
          class="button blue-btn not-mobile"
          (click)="mobileMenu = false"
          [routerLink]="'/auth/login'"
        >
          Login/Sign up
        </div>
      </ng-template>
      <div class="mobile button" (click)="resolveMobileMenu()">
        <img class="icon" src="./../../../assets/images/menu.png" alt="" />
      </div>
    </div>
    <div class="not-mobile">
      <div
        (click)="resolveMenuOption(item.api)"
        *ngFor="let item of menu.slice(0, authenticated ? menu.length : 2)"
        class="menu-item"
        [class.selected]="
          item.api == selected && articleService.current !== 'search'
        "
      >
        <div>{{ item.title }}</div>
        <div></div>
      </div>
    </div>
    <div>
      <div class="button" (click)="searchArticle()">
        <img class="icon" src="./../../../assets/images/search.png" alt="" />
      </div>
      <div
        class="button notification"
        (click)="openNotifications()"
        *ngIf="authenticated"
      >
        <img
          class="icon"
          src="./../../../assets/images/notification.png"
          alt=""
        />
        <div class="number" *ngIf="!!notificationService.unviewedCount">
          {{ notificationService.unviewedCount }}
        </div>
      </div>
      <div class="button not-mobile" *ngIf="authenticated" (click)="logout()">
        <img class="icon" src="./../../../assets/images/logout.png" alt="" />
      </div>
    </div>
  </div>
  <div class="mobile-menu" [class.appear]="mobileMenu">
    <div>
      <div
        (click)="resolveMenuOption(item.api)"
        *ngFor="let item of menu.slice(0, authenticated ? menu.length : 2)"
        class="menu-item"
        [class.selected]="
          item.api == selected && articleService.current !== 'search'
        "
      >
        <div>
          <img
            class="icon"
            [src]="'./../../../assets/images/' + item.api + '.png'"
            alt=""
          />
        </div>
        <div>{{ item.title }}</div>
      </div>
    </div>

    <div>
      <div
        *ngIf="authenticated; else mobileAccess"
        class="button blue-btn"
        (click)="addArticle()"
      >
        Add Post
      </div>
      <ng-template #mobileAccess>
        <div class="button blue-btn" [routerLink]="'/auth/login'">
          Login/Sign up
        </div>
      </ng-template>
    </div>

    <div>
      <div class="button blue-btn" *ngIf="authenticated" (click)="logout()">
        Logout
      </div>
    </div>
  </div>
</section>
