.notifications {
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  top: 68px;
  right: 12px;
  border-radius: 12px;
  display: flex;
  overflow: hidden;

  > div.empty {
    text-overflow: wrap;
    flex-wrap: wrap;
    width: 55%;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 450;
  }

  > div:not(.empty) {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    > div {
      padding: 12px;
      color: white;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      background-color: transparent;
      border-bottom: 1px solid rgb(61, 61, 61);

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.349) !important;
      }

      > :first-child {
        margin-right: 8px;
      }

      > :last-child {
        flex-grow: 1;
        min-width: 0;

        > div {
          max-width: 100%;
          display: flex;
          flex-direction: column;

          > :first-child {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
          }

          > :last-child {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(234, 234, 234);
          }
        }
      }
    }
  }
}
