<section class="access">
  <div
    *ngIf="!authenticated; else successComponent"
    [@routeAnimations]="!authenticated && prepareRoute(outlet)"
  >
    <div class="router-wrapper">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="button" [routerLink]="'/'">
      <img class="icon" src="./../../../assets/images/close-white.png" alt="" />
    </div>
  </div>
  <ng-template #successComponent>
    <div class="success">
      <img src="./../../../assets/images/submit-success.png" alt="" />
      <div>{{ (currentRoute ?? "Login") + " successful" | uppercase }}</div>
      <div [@rotate] (@rotate.done)="resetState()"></div>
    </div>
  </ng-template>
</section>
