// .App {
//     text-align: center;
//     flex-grow: 1;
//     position: relative;
// }

app-left-overlay, app-right-overlay { 
  position: absolute;
  inset: 64px auto 0 0;
  overflow: scroll;
  // display: flex;

  &::-webkit-scrollbar {
    display: none;
  }
}

app-right-overlay {
    inset: 64px 0 0 auto;
}
 
