* {
  color: white;
}

section {
  min-width: 389px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;

  > * {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    * {
      width: 100%;
    }

    &:not(:nth-child(3)) * {
      text-align: center;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 32px;
  }

  > :nth-child(2) {
    width: auto;
    margin: auto;

    > label {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div:not(:last-child) {
        background-color: #cccccc;
          border-radius: 50%;
          overflow: hidden;
          width: 120px;
          height: 120px;
          margin-bottom: 8px;
          display: flex;

          img {
            width: 80%;
            margin: auto;
          }
      }

      > :last-child {
        text-align: center;
        font-size: 24px;
      }

      &:hover {
        cursor: pointer;

        > :last-child {
          text-decoration: underline;
        }
      }
    }
  }

  > :nth-child(3) {
    > form {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    input {
      color: black;
    }
  }

  > :last-child {
    gap: 8px;

    > :last-child {
      font-size: 22px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
