<mgl-map
  [style]="
    'https://api.maptiler.com/maps/bright-v2/style.json?key=Vf3Ucwo3a2GSlz4MWlz4'
  "
  [zoom]="[currentCoordinates['zoom']]"
  [center]="[currentCoordinates['lng'], currentCoordinates['lat']]"
  (mapMouseUp)="sendMouseCoordinates($event)"
  (click)="
    ['addArticleLocation'].includes(state?.name) ||
    ['addArticleLocation'].includes(prevState?.name)
      ? $event.stopPropagation()
      : null
  "
  #map
  [class.locationSelection]="['addArticleLocation'].includes(state?.name)"
>
  <app-mark
    *ngFor="let article of articles"
    [article]="article"
    [type]="article.category"
  ></app-mark>
  <app-article-box></app-article-box>
  <app-mark
    [@locationDrop]
    [type]="'post-location'"
    *ngIf="
      ['addArticleLocation', 'addArticle'].includes(state?.name) &&
      formService.form?.get('location')?.value?.coordinates.length
    "
    [article]="{
      coordinates: formService.form?.get('location')?.value?.coordinates
    }"
  ></app-mark>
  <app-mark
    [type]="'self'"
    [article]="{
      coordinates: [currentCoordinates['lng'], currentCoordinates['lat']]
    }"
  ></app-mark>
</mgl-map>
