@use "mixins" as *;

* {
  color: white;
}

:host {
  overflow: scroll;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  @include screen-small {
    width: 100%;
  }
}

section {
  margin: auto;
  width: 389px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 96px;

  @include screen-small {
    width: 100%;
    padding: 24px;
    gap: 48px;
  }

  > ::ng-deep * {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    * {
      width: 100%;
    }
  }

  ::ng-deep form * {
    text-align: left;
  }

  h2 {
    font-weight: 400;
    font-size: 32px;
  }

  > ::ng-deep :last-child {
    gap: 8px;

    > :last-child {
      font-size: 22px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ::ng-deep form {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  ::ng-deep input {
    color: black;
  }
}
