@use "mixins" as *;

* {
  color: white;
}

:host {
  overflow: scroll;
  display: flex;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  @include screen-small {
    width: 100%;
  }
}

section {
  width: 389px;
  margin: auto;
  display: flex;
  flex-direction: column;

  > :first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 96px;
    margin-bottom: 12px;

    @include screen-small {
      width: 100%;
      padding: 24px;
      gap: 48px;
    }

    > ::ng-deep * {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;

      * {
        width: 100%;
      }
    }

    ::ng-deep form * {
      text-align: left;
    }

    h2 {
      font-weight: 400;
      font-size: 32px;
    }

    > ::ng-deep :last-child {
      gap: 8px;

      > :last-child {
        font-size: 22px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    ::ng-deep form {
      display: flex;
      gap: 24px;
      flex-direction: column;
    }

    ::ng-deep input {
      color: black;
    }
  }

  > div.error {
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgb(255, 45, 45);
  }
}
