<mgl-marker [lngLat]="[mark['coordinates'][0], mark['coordinates'][1]]">
  <div
    *ngIf="mark?._id; else displayOnly"
    class="marker"
    (click)="
      stateService.resolveState('selectedArticle', mark);
      $event.stopPropagation()
    "
  >
    <img [src]="'./assets/images/' + type + '.png'" />
  </div>
  <ng-template #displayOnly>
    <div class="marker display">
      <img
        [class]="type"
        [src]="
          './assets/images/' +
          (type == 'self' ? 'current-loc.gif' : type + '.png')
        "
      />
    </div>
  </ng-template>
</mgl-marker>
