@use "mixins" as *;

app-left-overlay,
app-right-overlay {
  position: absolute;
  inset: 64px auto 0 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #d9d9d9;

  overflow-y: scroll;

  @include screen-small {
    inset: 62px 0 0 0 !important;
  }
}

app-right-overlay {
  inset: 64px 0 0 auto;
}
