// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-frontend-primary: mat.define-palette(mat.$indigo-palette);
$app-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-frontend-primary,
      accent: $app-frontend-accent,
      warn: $app-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-frontend-theme);

/* You can add global styles to this file, and also import other style files */
// @import '~maplibre-gl/dist/maplibre-gl.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marker {
  cursor: pointer;

  > img {
    width: 30px;
  }
}

.icon {
  width: 30px;
  object-fit: contain;
}

.button {
  cursor: pointer;
}

.blue-btn {
  background-color: #2374e1;
  border-radius: 8px;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #2a86ff;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
