:host {
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    div {
      display: flex;
      align-items: center;
    }

    > div {
      align-items: center;

      &.button {
        border-radius: 50%;
        min-width: 46px;
        height: 46px;
        display: flex;
        background-color: #d9d9d9;

        img {
          margin: auto;
        }
      }

      > div {
        align-items: center;

        &.category {
          margin-right: 16px;
        }

        > div:first-child {
          margin-right: 12px;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
}
