name: Docker Build and Push

on:
  push:
    branches:
      - main 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy: 
      matrix:
        subDir: ["frontend", "backend", "notification"] 

    steps:
      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:app-${{ matrix.subDir }}"
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mapnews:${{ matrix.subDir }}-service
